@font-face {
  font-family: "RedHat";
  font-style: normal;
  src: url("fonts/RedHatDisplay-VariableFont_wght.ttf");
}
* {
  font-family: "RedHat", sans-serif !important;
}
.info {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-bottom: 8px;
}
